APP_NAME=HRIS-ITK
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://hris-itk-ijk.test
APP_DOMAIN=hris-itk-ijk.test
TRUSTED_HOSTS=hris-itk-ijk.test,*.hris-itk-ijk.test,localhost,127.0.0.1

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hr_management
DB_USERNAME=root
DB_PASSWORD=

# Jagoan Hosting Database Configuration
# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=aryafatt_hris_db
# DB_USERNAME=aryafatt_hris_user
# DB_PASSWORD=your_strong_password

SESSION_DRIVER=file
SESSION_LIFETIME=120

LOG_CHANNEL=stack
LOG_LEVEL=debug

FILESYSTEM_DISK=local
