/vendor
/node_modules
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
*.log
hris-project.zip
image.png
storage/*.key
storage/framework/sessions/*
storage/framework/cache/data/*
storage/framework/views/*
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
public/hot
public/storage
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
deploy.sh
